<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>프로필_내_게시판</title>
    <div th:insert="~{fragments :: linkCSS}"></div>
    <style>
        .custom-hover {
            color: black;
            border: none;
        }
        .custom-hover:hover{
            color: dodgerblue;
            border-bottom: 3px solid dodgerblue;
        }
        .btn-group .btn:first-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .btn-group .btn:last-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

    </style>
</head>
<body>
<div th:insert="~{fragments :: header}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>내 프로필</h1>
            <hr/>
            <!-- 유저 정보 부분 -->
            <div class="target-div">
                <div class="container d-flex align-items-start justify-content-between">
                    <img src="" th:src="${profileImage}" style="width: 100px; height: 100px;" alt="Profile Image"/>
                    <div>
                        <a href="" class="editBtn btn btn-primary me-2" id="editBtnEnabled" onclick="toggleEditing(event)">Edit profile</a>
                        <button type="button" class="btn btn-danger d-line-block" onclick="confirmDelete()">Delete</button>
                    </div>
                </div>
                <h3>사용자명: <span th:text="${user != null ? user.getUsername() : ''}"></span></h3>
                <h3>Email: <span th:text="${user != null ? user.getEmail() : ''}"></span></h3>
            </div>


            <hr/>
            <!-- 메뉴 부분 -->
            <div class="buttonMenu btn-group">
                <button type="button" class="getMyBoard btn btn-outline-light custom-hover">내 게시물</button>
                <button type="button" class="getMyComment btn btn-outline-light custom-hover">내 댓글</button>
                <button type="button" class="getMyFavorite btn btn-outline-light custom-hover">즐겨찾기</button>
                <button type="button" class="getMyLike btn btn-outline-light custom-hover">좋아요</button>
            </div>

            <form id="getMyBoardForm" th:action="@{/profile/posts}" method="post">
                <input type="hidden" id="myBoardUsername" name="username" th:value="${user.getUsername()}">
                <input type="hidden" id="myBoardEmail" name="email" th:value="${user.getEmail()}">
                <!-- 내 게시글 눌렀을 때 생김 -->
                <input type="hidden" th:if="${paging}" id="myBoardPage" name="page" th:value="${paging.number} + 1">
            </form>
            <form id="getMyFavoriteForm" th:action="@{/profile/favorites}" method="post">
                <input type="hidden" id="myFvUsername" name="username" th:value="${user.getUsername()}">
                <input type="hidden" id="myFvEmail" name="email" th:value="${user.getEmail()}">
                <!-- 즐겨찾기 눌렀을 때 생김 -->
                <input type="hidden" th:if="${paging}" id="myFvPage" name="page" th:value="${paging.number} + 1">
            </form>
            <form id="getByCommentForm" th:action="@{#}" method="post">
                <!-- 댓글 만들면 만들 예정 -->
            </form>
            <form id="getMyLike" th:action="@{#}" method="post">
                <!-- 곧 만들 예정 -->
            </form>
            <hr/>
        </div>
        <div th:insert="~{fragments :: profile_get_data}"></div>
    </div>
</div>
<!-- 페이지 링크 누르면 페이지에 맞는 게시글 데이터 받아옴 -->
<form th:action="@{/profile/posts}" method="get" id="pageForm">
    <input type="hidden" name="username" th:value="${user.getUsername()}">
    <input type="hidden" name="email" th:value="${user.getEmail()}">
    <input type="hidden" id="page" name="page" th:value="${paging.number}">
</form>

<div th:insert="~{fragments :: footer}"></div>
<div th:insert="~{fragments :: linkJS}"></div>
<script layout:fragment="script" type='text/javascript' th:inline="javascript">
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('pageForm').submit();
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        let profileButtons = document.getElementsByClassName("profileButton");
        Array.from(profileButtons).forEach(function(button) {
            button.addEventListener('click', function() {
                let form = document.getElementById('profileForm');
                form.action = this.getAttribute('data-action-url'); // Set form action based on clicked button
                form.submit();
            });
        });
    });

</script>
</body>
</html>