<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{fragments :: linkCSS}"></div>
    <style>
        a.custom-hover {
            font-weight: bold;
            color: black;
        }
        a.custom-hover:hover {
            color: cornflowerblue;
        }

        .text-container {
            min-height: 100px;
            overflow: auto;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments :: header}"></div>
<div class="d-flex justify-content-center">
    <div class="w-75">
        <div class="d-flex align-items-center mt-5">
            <div class="flex-grow-1 border-top"></div>
            <span class="px-3 bg-white" th:text="${board.getCategory()}"></span>
            <div class="flex-grow-1 border-top"></div>
        </div>
        <div class="d-flex align-items-center flex-row">
            <a href="#">
                <img class="img-fluid rounded-full" th:src="@{'/' + ${board.getProfilePath().getPath()}}" alt="프로필 사진"
                style="height: 40px; width: 40px">
            </a>
            <div class="ms-1 d-flex align-items-start flex-column">
                <a class="ps-1 custom-hover text-decoration-none" href="#" th:text="${board.users.getUsername()}"></a>
                <div class="flex items-center text-sm font-normal">
                    <span>
                        <!-- 조회수 -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" style="width: 16px; height: 16px;" >
                        <!-- 아이콘 경로 -->
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span th:text="${board.getHits()}"></span>
                        <!-- 즐겨찾기 수 -->
                        <i class="bi bi-star"></i>
                        <span th:text="${board.getFavoriteCnt()}"></span>
                    </span>
                </div>
            </div>

            <div th:if="${board.users != null and #authentication.name.equals(board.users.email)}" class="ms-auto">
                <a type="button" class="btn btn-outline-danger" th:href="@{|/${board.getCategory().toLowerCase()}/edit/${board.getBid()}|}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 2 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                    </svg>
                </a>
            </div>
        </div>
        <h1 class="fs-2 fw-bold my-4" th:text="${board.getTitle()}"></h1>

        <div th:if="${#lists.size(board.getImgPathList) > 0}" id="carouselIndicators" class="carousel slide carousel-fade">
            <div class="carousel-indicators" aria-hidden="true">
                <button th:each="img, iterStat : ${board.getImgPathList}" type="button" style="filter: invert(1)" data-bs-target="#carouselIndicators" th:data-bs-slide-to="${iterStat.index}" th:class="${iterStat.first} ? 'active' : ''" aria-label="Slide + ${iterStat.count}"></button>
            </div>
            <div class="carousel-inner">
                <div th:each="img, iterStat : ${board.getImgPathList}" th:class="${iterStat.first} ? 'carousel-item active d-flex justify-content-center' : 'carousel-item d-flex justify-content-center'">
                    <div th:if="${#lists.size(board.getImgPathList) > 1}">
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" style="filter: invert(1)" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                    </div>
                    <img th:src="@{${img}}" class="d-block mx-auto w-75 h-auto" style="width: 500px" alt="Image">
                    <div th:if="${#lists.size(board.getImgPathList) > 1}">
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" style="filter: invert(1)" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
<!--            <div th:if="${#lists.size(board.getImgPathList) > 1}">-->
<!--                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Previous</span>-->
<!--                </button>-->
<!--                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Next</span>-->
<!--                </button>-->
<!--            </div>-->
        </div>

        <div class="text-start fs-4 text-container" th:text="${board.getContent()}"></div>
        <div class="container text-container">
            <div sec:authorize="isAuthenticated()" class="row">
                <!-- 왼쪽 끝에 위치할 요소 -->
                <div class="col-sm-auto fs-5 ps-0">
                    <div class="btn-group">
                        <a type="button" class="btn btn-outline-secondary p-2" style="--bs-btn-hover-bg: ghostwhite;" th:href="@{|/${board.getCategory().toLowerCase()}/favorite/${board.getBid()}|}">
                            <i th:unless="${isFavorite}" class="bi bi-star" style="color: lightgrey"></i>
                            <i th:if="${isFavorite}" class="bi bi-star-fill" style="color: sandybrown"></i>
                        </a>
                    </div>
                </div>

                <!-- 나머지 요소들 (오른쪽으로 정렬) -->
                <div class="col d-flex justify-content-end">
                    <div class="col-sm-auto pe-0">
                        <a href="javascript:void(0);" class="unrecommended btn btn-outline-dark align-items-center"
                           th:data-uri="@{|/${board.getCategory().toLowerCase()}/dislike/${board.getBid()}|}">
                            <i class="bi bi-chevron-down"></i>
                        </a>
                    </div>
                    <div class="col-sm-auto">
                        <span class="fw-bold d-flex align-items-center justify-content-center px-2 py-1" th:text="${board.getLikeCnt()}"></span>
                    </div>
                    <div class="col-sm-auto ps-0">
                        <a href="javascript:void(0);" class="recommend btn btn-outline-dark align-items-center" type="button"
                           th:data-uri="@{|/${board.getCategory().toLowerCase()}/like/${board.getBid()}|}">
                            <i class="bi bi-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div sec:authorize="isAnonymous()" class="row">
                <div class="col d-flex justify-content-end">
                    <div class="col-sm-auto pe-0">
                        <a class="btn btn-outline-dark align-items-center" onclick="redirectLogin()">
                            <i class="bi bi-chevron-down"></i>
                        </a>
                    </div>
                    <div class="col-sm-auto">
                        <span class="fw-bold d-flex align-items-center justify-content-center px-2 py-1" th:text="${board.getLikeCnt()}"></span>
                    </div>
                    <div class="col-sm-auto ps-0">
                        <a class="btn btn-outline-dark align-items-center" onclick="redirectLogin()">
                            <i class="bi bi-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top mt-4"></div>
    </div>
</div>

<div th:insert="~{fragments :: footer}"></div>
<div th:insert="~{fragments :: linkJS}"></div>
<script layout:fragment="script" type="text/javascript" th:inline="javascript">
    let isRecommend = /*[[${isRecommend}]]*/ 'none';
    const recommend_elements = document.getElementsByClassName("recommend");
    const unrecommended_elements = document.getElementsByClassName("unrecommended");
    // 추천을 누른 상태면
    if (isRecommend !== 'none' && isRecommend === 'recommend') {
        for (let i = 0; i < recommend_elements.length; i++) {
            // 추천 버튼 파랗게 만들고 활성화시킴
            recommend_elements[i].classList.remove('btn-outline-dark');
            recommend_elements[i].classList.remove('disabled');
            recommend_elements[i].classList.add('btn-outline-primary');
        }
        for (let i = 0; i < unrecommended_elements.length; i++) {
            // 비추 버튼 비활시킴
            unrecommended_elements[i].classList.add('disabled');
        }
    // 비추 누른 상태면
    } else if (isRecommend !== 'none' && isRecommend === 'unrecommended') {
        for (let i = 0; i < unrecommended_elements.length; i++) {
            // 비추 버튼 빨갛게 만들고 활성화 시킴
            unrecommended_elements[i].classList.remove('disabled');
            unrecommended_elements[i].classList.remove('btn-outline-dark');
            unrecommended_elements[i].classList.add('btn-outline-danger');
        }
        for (let i = 0; i < recommend_elements.length; i++) {
            // 추천 버튼 비활시킴
            recommend_elements[i].classList.add('disabled');
        }
    }
    Array.from(recommend_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            location.href = this.dataset.uri;
        })
    })
    Array.from(unrecommended_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            location.href = this.dataset.uri;
        })
    })

    function redirectLogin() {
        const isConfirmed = confirm("로그인 하셔야 이용 가능합니다. 로그인 하시겠습니까?");

        if (isConfirmed) {
            window.location.href = "/login";
        }
    }
</script>
</body>
</html>