<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <nav class="navbar d-flex justify-content-center">
        <a class="navbar-brand mr-0" href="#" th:href="@{/}">My App</a>
      </nav>
      <h2 class="text-center my-4">Login</h2>
      <form th:action="@{/login}" th:object="${usersLoginDTO}" method="post">
        <div class="form-group">
          <label for="email"><b>Email</b></label>
          <input type="email" th:field="*{email}" id="email" placeholder="Enter Email" required class="form-control">
        </div>

        <div class="form-group">
          <label for="password"><b>Password</b></label>
          <input type="password" th:field="*{password}" id="password" placeholder="Enter Password" required class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <p class="signup-text my-3">Don't have an account? <a href="/signup">Sign up</a></p>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
