<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{fragments :: header}"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Your Profile</h1>
      <hr/>
      <h3>Username: <span th:text="${#authentication.name}"></span></h3>
      <h3>Email: <span th:text="${user.email}"></span></h3>
      <hr/>
      <a th:href="@{/profile/edit}" class="btn btn-primary">Edit Profile</a>
      <a th:href="@{/profile/posts}" class="btn btn-secondary">My Posts</a>
      <a th:href="@{/profile/comments}" class="btn btn-secondary">My Comments</a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
