<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <title>프로필</title>
  <div th:insert="~{fragments :: linkCSS}"></div>
  <style>
    .custom-hover {
      color: black;
      border: none;
    }
    .custom-hover:hover{
      color: dodgerblue;
      border-bottom: 3px solid dodgerblue;
    }

  </style>
</head>
<body>
<div th:insert="~{fragments :: header}"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>내 프로필</h1>
      <hr/>

      <!-- 편집 모드가 활성화되면 편집 가능한 필드만 표시 -->
      <div class="target-div d-none">
        <!-- 사용자명과 이메일을 위한 입력 필드 -->
        <form th:action="@{/profile}" id="editForm" th:object="${usersEditDTO}" method="post" enctype="multipart/form-data">
          <div class="container d-flex align-items-start justify-content-between">
            <img src="" th:src="${profileImage}" id="profile-image-preview" style="cursor: pointer; width: 100px; height: 100px;" alt="Profile Image"/>
            <!-- 편집 모드를 전환하는 버튼 -->
              <div>
                <a href="" class="editBtn btn btn-primary me-2" id="editBtnDisabled" onclick="toggleEditing(event)">Edit profile</a>
                <button type="button" class="btn btn-danger d-line-block" onclick="confirmDelete()">Delete</button>
              </div>
          </div>
          <input type="file" id="profile-image" th:field="*{profileImage}" style="display:none;"/>
          <br>
          <label for="profile-image" class="btn btn-primary mt-2">Upload Profile Image</label>
          <button class="btn btn-primary mt-2" type="button" id="defaultImage">Default Image</button>
          <div th:if="${param.usernameError != null or param.emailError != null}">
            <span class="text-danger" th:text="${param.usernameError != null ? param.usernameError[0] : ''}"></span>
            <span class="text-danger" th:text="${param.emailError != null ? param.emailError[0] : ''}"></span>
          </div>
          <!-- 사용자명과 이메일을 위한 입력 필드 -->
          <div class="form-group">
            <label for="username">사용자명:</label>
            <input type="text" class="form-control" th:field="*{username}" id="username" required>
          </div>
          <div class="form-group">
            <label for="email">이메일:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
          </div>
          <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
          </div>
          <!-- 저장과 취소 버튼 -->
          <button type="submit" class="btn btn-primary">저장</button>
          <a type="button" class="btn btn-secondary" id="editCancel" onclick="cancelEditing()">취소</a>
        </form>
      </div>

      <!-- 편집 모드가 비활성화되면 편집 불가능한 필드만 표시 -->
      <div class="target-div">
        <div class="container d-flex align-items-start justify-content-between">
          <img src="" th:src="${profileImage}" style="width: 100px; height: 100px;" alt="Profile Image"/>
          <!-- 편집 모드를 전환하는 버튼 -->
          <div>
            <a href="" class="editBtn btn btn-primary me-2" id="editBtnEnabled" onclick="toggleEditing(event)">Edit profile</a>
            <button type="button" class="btn btn-danger d-line-block" onclick="confirmDelete()">Delete</button>
          </div>
        </div>
        <h3>사용자명: <span th:text="${user != null ? user.getUsername() : ''}"></span></h3>
        <h3>Email: <span th:text="${user != null ? user.getEmail() : ''}"></span></h3>
      </div>


      <hr/>



      <div class="buttonMenu btn-group">
        <button type="button" class="getMyBoard btn btn-outline-light custom-hover">내 게시물</button>
        <button type="button" class="getMyComment btn btn-outline-light custom-hover">내 댓글</button>
        <button type="button" class="getMyFavorite btn btn-outline-light custom-hover">즐겨찾기</button>
        <button type="button" class="getMyLike btn btn-outline-light custom-hover">좋아요</button>
      </div>


      <form id="deleteForm" action="#" th:action="@{/delete/users}" method="post" class="deleteForm d-inline-block">
      </form>
      <form id="getMyBoardForm" th:action="@{/profile/posts}" method="post">
        <input type="hidden" id="myBoardUsername" name="username" th:value="${user.getUsername()}">
        <input type="hidden" id="myBoardEmail" name="email" th:value="${user.getEmail()}">
        <!-- 내 게시글 눌렀을 때 생김 -->
        <input type="hidden" th:if="${paging}" id="myBoardPage" name="page" th:value="${paging.number} + 1">
      </form>
      <form id="getMyFavoriteForm" th:action="@{/profile/favorite}" method="post">
        <input type="hidden" id="myFvUsername" name="username" th:value="${user.getUsername()}">
        <input type="hidden" id="myFvEmail" name="email" th:value="${user.getEmail()}">
        <!-- 즐겨찾기 눌렀을 때 생김 -->
        <input type="hidden" th:if="${paging}" id="myFvPage" name="page" th:value="${paging.number} + 1">
      </form>
      <form id="getByCommentForm" th:action="@{#}" method="post">
        <!-- 댓글 만들면 만들 예정 -->
      </form>
      <form id="getMyLike" th:action="@{#}" method="post">
        <!-- 곧 만들 예정 -->
      </form>
    </div>
      <div th:if="${paging}" id="boardFragment">
        <div th:insert="~{fragments :: profile_my_board}"></div>
      </div>
  </div>
</div>

<div th:insert="~{fragments :: footer}"></div>
<div th:insert="~{fragments :: linkJS}"></div>
<script layout:fragment="script" type='text/javascript' th:inline="javascript">

  const board_elements = document.getElementsByClassName("getMyBoard");

  /* 게시글을 보여줄지 말지 결정하는 변수 localStorage에 저장하고 기본값 false */
  if (localStorage.getItem('isBoardVisible') === null) {
    localStorage.setItem('isBoardVisible', 'false');
  }

  let isBoardVisible = JSON.parse(localStorage.getItem('isBoardVisible'));

  /* ${paging}은 'getMyBoardForm'이 제출되면 생김 */
  /*<![CDATA[*/
  let paging = /*[[${paging}]]*/ null;
  /*]]>*/
  Array.from(board_elements).forEach(function(element) {
    element.addEventListener('click', function() {
      /* 처음 클릭하면 isBoardVisible이 true가 되서 localStorage에 저장됨 다시 클릭하면 반대 */
      isBoardVisible = !isBoardVisible;
      localStorage.setItem('isBoardVisible', isBoardVisible);
      if (!isBoardVisible) {
        window.location.href = "/profile";
        return; // 이후의 코드를 실행하지 않음
      }
      document.getElementById('getMyBoardForm').submit();
    });
  });

  /* form 제출해서 paging Model 값 받아 왔으면 */
  if (paging) {
    const board_fragment = document.getElementById("boardFragment");
    /* isBoardVisible이 false이면 'profile_my_board' fragment 숨기고 */
    if (!isBoardVisible) {
      board_fragment.setAttribute("hidden", "hidden");
    } else {  /* 반대면 보여줌 */
      board_fragment.removeAttribute("hidden");
    }
    /* 페이지 링크 눌렀을 때 실행되는 함수 */
    addBoardScript();
  }

  function addBoardScript() {

    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
      element.addEventListener('click', function () {
        console.log("page-link clicked");
        document.getElementById('page').value = this.dataset.page;
        console.log("page value : " + document.getElementById('page').value);
        console.log("dataset.page value : " + this.dataset.page);
        document.getElementById('getMyBoardForm').submit();
      });
    });
  }
  function confirmDelete() {
    let result = confirm("계정을 삭제하면 복구할 수 없습니다. 정말로 삭제하시겠습니까?");
    if (result) {
      // 사용자가 '확인'을 클릭하면, 폼을 제출합니다.
      document.getElementById('deleteForm').submit();
    }
  }

  // 페이지 로드 시 토글 상태 확인 및 설정
  document.addEventListener("DOMContentLoaded", function() {
    if (localStorage.getItem('editingEnabled') === null) {
      localStorage.setItem('editingEnabled', "false");
    }
    // JSON.parse 안해주면 false, true를 String으로 인식해서 망함
    let editingEnabled = JSON.parse(localStorage.getItem('editingEnabled'));
    console.log(editingEnabled);
    // 편집 모드가 비활성화되면 표시되는 div
    let nonEditDiv = document.querySelector("#editBtnDisabled").closest(".target-div");
    // 편집 모드가 활성화되면 표시되는 div
    let editDiv = document.querySelector("#editBtnEnabled").closest(".target-div");

    if (!editingEnabled) {
      nonEditDiv.classList.add('d-none');
      editDiv.classList.remove('d-none');
      console.log("nonEditDiv : " + nonEditDiv);
    } else {
      nonEditDiv.classList.remove('d-none');
      editDiv.classList.add('d-none');
      console.log("editDiv : " + editDiv);
    }
  });

  // 토글 함수
  function toggleEditing(event) {
    event.preventDefault();
    // 편집 모드가 비활성화되면 표시되는 div
    let nonEditDiv = document.querySelector("#editBtnDisabled").closest(".target-div");
    // 편집 모드가 활성화되면 표시되는 div
    let editDiv = document.querySelector("#editBtnEnabled").closest(".target-div");

    if (nonEditDiv.classList.contains('d-none')) {
      nonEditDiv.classList.remove('d-none');
      editDiv.classList.add('d-none');
      localStorage.setItem('editingEnabled', true);
      console.log("폼 보여야 함");
    } else {
      nonEditDiv.classList.add('d-none');
      editDiv.classList.remove('d-none');
      localStorage.setItem('editingEnabled', false);
      console.log("폼 안보여야 함");
    }
  }

  // 편집 취소 시 편집 모드를 비활성화하고 원래 화면으로 돌아감
  function cancelEditing() {
    let link = document.getElementById('editCancel');
    link.href = "/profile";
    localStorage.setItem('editingEnabled', false);
  }

  // 페이지 로드 시 showHideElements 함수 호출하여 적절한 요소를 표시함
  // $(document).ready(function() {
  //   showHideElements();
  // });

  // When the profile image preview is clicked, trigger the file input click event
  document.getElementById("profile-image-preview").addEventListener("click", function() {
    document.getElementById("profile-image").click();
  });

  // 편집 모드 이전에는 "profile-image" 요소가 없으므로 console에서 오류남 나중에 고쳐야할듯
  // When a file is selected, display it in the profile image preview
  document.getElementById("profile-image").addEventListener("change", function(e) {
    let reader = new FileReader();
    reader.onload = function(e) {
      document.getElementById("profile-image-preview").src = e.target.result;
    }
    reader.readAsDataURL(e.target.files[0]);
  });

  // Change the default image
  document.getElementById("defaultImage").addEventListener("click", function() {
    document.getElementById("profile-image").value = "";
    document.getElementById("profile-image-preview").src = "/profileImage/default/profile_default.jpg";
  });
</script>
</body>
</html>
